@tailwind components;
@tailwind utilities;

:root {
  --background: #ba3535;
  --foreground: #a72d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.avatar {
  border-radius: 50%;
}